body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d9e8;
  }
    
  #header {
    background-color: #ff80b0;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  #header a {
    color: white;
    text-decoration: none;
  }
  
  #header a:hover {
    color: #ff0055;
  }
  
  .content-section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ff80b0;
    border-radius: 10px;
  }
  
  #footer {
    background-color: #ff80b0;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  